:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color :#a30404;
  --secondary-color : #222;
  --card-color : white;
  --card-border-radius : 10px;
  --shadow-settings : 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
